{% extends "base.html" %}
{% block title %}
Listado examenes
{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=True) %}
	{% if messages %}
		{% for category, message in messages %}
		<div class ="{{ category }}">
			{{ message }}
		</div>

		{% endfor%}
	{% endif%}
{% endwith%}

<h3>Listado de Examenes</h3>

  {% for test in test %}
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">{{ test.month }}</h5>
      <a href="{{ url_for('show_test', id=test.test_id) }}" class="btn btn-primary">Ver</a>
      <a href="#" class="btn btn-primary">Descargar</a>
      <a href="{{ url_for('delete_test', id=test.test_id) }}" class="btn btn-primary">Borrar</a>
    </div>
  </div>
	{% endfor %}

{% endblock %}
